.openerp .oe_title {
  width: 50%;
  float: none ;
}

/*Tao thuoc tinh gach chan cho separator*/
.openerp .oe_horizontal_separator {
  border-bottom-style:solid;
  border-width:2px;
}

.openerp .kdvn_group_title {
  border-top-style:none;
  border-right-style:none;
  border-bottom-style:solid;
  border-left-style:none;
  border-width:2px;
}

/*Ke border ben phai cua cac truong float o List View*/
.openerp .oe_form_field_one2many  .oe_list_field_float{
  border-right:1px solid rgb(221, 221, 221);
}

/*Can le phai cua cot cua cac truong float o List View*/
.openerp .oe_form_field_one2many  .oe_list_header_float{
  text-align:right;
}

/*Can le phai cua cot cua cac truong float o Tree View*/
.openerp .oe_list_header_columns .oe_list_header_float{
  text-align:right;
}

.kdvn_list_border 
{
  border-right-style:solid;
}

/*Tao border cho 1 group  -- Dua group vao trong tag DIV*/
.openerp .oe_form .kdvn_cell_border_ {
  border-style:solid;
  border-width:1px;
}

/*Button: ngam dinh tao mot DIV 270px can phai*/
/*thuoc tinh nay cho phep can trai button*/
.openerp .kdvn_button_left {
  text-align:left;
}

/*Tam thoi bo thuoc tinh Business View o tat ca cac form*/
/*Su dung toi da chieu ngang cua sheet*/
.openerp .oe_form_sheet_width {
  max-width:100%;
}

/*Tam thoi bo thuoc tinh Business View o tat ca cac form*/
/*Doi padding tu 16px 0px thanh 5px 5px de lay chieu cao toi da cua sheet*/
.openerp .oe_form_sheetbg {
  padding: 5px 5px;
}

/*Tao margin cho sheet view*/
.openerp .oe_form_sheet {
  margin:5px 5px;
}

/*Lam rong chieu ngang cua oe_subtotal_footer*/
.openerp .oe_form .oe_subtotal_footer {
  width:30% !important;
}

/*Keo dai het co gach chan cua oe_subtotal_footer_separator*/
/*Giam font chu o subtotal xuong con 13px */
.openerp .oe_form .oe_subtotal_footer .oe_subtotal_footer_separator {
  width:50%;
  font-size: 14px;
}

/*Chieu ngang cua left menu su dung class oe_leftbar
dang de la 220px, thu dua ve 10% xem sao*/
.openerp .oe_leftbar {
  width:10%;
}

/*Khong hien thi phan message o cac form view*/
div.oe_chatter {
  display: none;
}

/*Can(align) cac tieu de cua tree view len tren (top) de nhat quan khi trinh bay*/
.oe_list_header_char, .oe_list_header_many2one, .oe_list_header_selection, .oe_list_header_float, .oe_list_header_text, .oe_list_header_date, .oe_list_record_selector{
  vertical-align: top !important;
}

/*Them thuoc tinh can phai cho oe_list_field_char - ngam dinh la can trai*/
.oe_list_field_char .oe_list_field_char_right {
  text-align: right;
}

/*Can phai truong tren form co thuoc tinh float chi tac
dung voi tag span - su dung bang cach dinh nghia class
cho group*/
.kdvn_float_readonly span{
  width: 50% !important;
  text-align: right;
}

/*Can trai ngam dinh cho cac label o tren form
.oe_form_label{
  text-align: left;
}*/

/*Border cho mot cell trong tag td - Su dung de ve bang*/
.kdvn_cell_border td{
  border-style:solid;
  border-width:1px;
  vertical-align: middle;
}

/*Dieu chinh de dam bao phan ben phai va ben trai cua 1 
form deu nhau - co kha nang do loi cua OE7*/
.openerp .oe_form td.oe_form_group_cell + .oe_form_group_cell{
  padding: 0px 0px 2px 8px;
}

/*Noi rong chieu ngang o attachment file
 CHUA THANH CONG*/
.openerp .oe_form_input input {
  min-width: 120px;
}

/*Tao thuoc tinh can phai cho truong
su dung cho cac truong monetary - dua vao group*/
.kdvn_align_right span.oe_form_field_monetary{
  text-align:right !important;
}

