.openerp .oe_kderp_oe_anatomy {
    color: white;
    background-color: black;
    height: 100%;
}
.openerp .oe_kderp_oe_anatomy h4 {
    margin: 0;
    font-size: 200%;
}
.openerp .oe_kderp_oe_anatomy.oe_kderp_oe_anatomy_started .oe_kderp_oe_anatomy_start button,
.openerp .oe_kderp_oe_anatomy.oe_kderp_oe_anatomy_stopped .oe_kderp_oe_anatomy_stop button {
    display: none
}