/*XANH KINDEN*/
/*Chinh lai mau font cua OE7 cho giong voi OE5 de nhin do bi mo
Doi tu rgb(76,76,76) sang rgb(0,0,0)
tham khao website: http://www.colorcodehex.com/*/
.openerp {
  color:rgb(38,38,38);
}

/*Doi 1 so mau sang xanh kinden rgb(1,131,1) mau default la rgb(124,123,173)*/
/*
- Font chu o phan link
- Font chu o menu
- Font chu o phan separator
- Mau nen o cac menu
*/
.openerp .oe_application a, .openerp .oe_secondary_menu_section, .openerp .oe_horizontal_separator, .openerp .oe_view_manager table.oe_view_manager_header h2 a, .openerp .oe_button.oe_link span {
  color:rgb(1,131,1);
}

/*Mau nen cua submenu ben trai sang xanh Kinden*/
.openerp .oe_secondary_submenu .oe_active{
  background: none repeat scroll 0% 0% rgb(1, 131, 1);
}

/*Doi mau nen thanh status sang xanh kinden rgb(1,131,1) mau default la rgb(124,123,173)*/
/*Doi mau nen cua button highlight sang xanh kinden*/
/*Doi mau nen cua phan login sang xanh kinden*/
.openerp ul.oe_form_status li.oe_active, .openerp button.oe_highlight, .openerp .oe_login button, .openerp .oe_login .oe_login_bottom{
  background-image: linear-gradient(to bottom, rgb(1, 131, 1), rgb(1, 151, 1));
}

/*Doi mau mui ten o phan status sang xanh Kinden*/
.openerp ul.oe_form_status li.oe_active .arrow span {
  background: -moz-linear-gradient(135deg, rgb(1, 151, 1), rgb(1, 131, 1)) repeat scroll 0% 0% transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#018301), to(#019701)); /*chrome*/
}

/*color theme for Search View*/
/*.openerp .oe_searchview {
  border: 1px solid rgb(1,131,1);
}*/

.openerp .oe_searchview.oe_focused{
  border-color: rgb(1, 131, 1);
  box-shadow: 0px 1px 2px rgb(1,131,1) inset;
}

.openerp .oe_searchview .oe_searchview_drawer h3{
  color:rgb(1,131,1);
}
.openerp .oe_tag_dark {
  background: none repeat scroll 0% 0% rgb(1, 131, 1);
}

/*Khi button get focus tao khung mau xanh kinden*/
.openerp button:focus {
  border: 1px solid rgb(1,131,1);
}

/*Mau trong khung nhap lieu bat buoc --> xanh Kinden*/
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]), .openerp .oe_form_editable .oe_list_editable .oe_list_content td.oe_required{
  background-color: rgb(232, 240, 209) !important;  
}

/*Class oe_loading - Xanh KINDEN*/
.openerp .oe_loading{
  background: #018301;
  border: 1px solid #018301;
}

/*Class thong bao du lieu da duoc save - Xanh KINDEN*/
.openerp .kderp_oe_notification:after {
  background: #018301;
  color: white;
  text-align: center;
  border: 1px solid #018301;
}

/*Mau nen cua nut delete attachment khi hover*/
.openerp .oe_sidebar .oe_dropdown_menu li .oe_sidebar_delete_item:hover{
  background:#018301;
}

/*KET THUC XANH KINDEN*/

