/*FIXED MENUS and HEADERS*/
/*Design with the screen width of 1366px */
body{
	 overflow-x:hidden; 
}

/*Fixed Topbar*/
.openerp .oe_topbar{
	position: fixed;
	top:0px;
	z-index:4;
}

/*TODO hide announcement_bar*/
.openerp .announcement_bar{
	display: none;
}

/*Left bar*/

/*Xac dinh chieu rong cua leftbar TODO*/
.openerp .oe_leftbar{
	width: 18%;
	min-width: 245px; 
	/*Do kich thuoc man hinh thay doi tuy thuoc vao tung nguoi
	su dung gia tri min-width se duoc tinh toan khi khoi tao
	bang jQuery
	*/
	max-width: 345px;
}

.openerp div.koe_leftbar{
	/*firefox khong ho tro top khi display la table-cell
	* ke thua QWeb va tao koe_leftbar la mot div
	*/
	position:fixed; 
	/*Mac du logo de co dinh, khu vuc nay khong can
	* vi khi co dinh thi khu vuc logo khong con la 
	* 1 thanh phan cua leftbar nua
	*/
	width: 18%; /*Chieu ngang se duoc xac dinh khi khoi tao bang jQuery*/
	/* min-width: 245px! important; Neu su dung % se khong dam bao duoc ti le TODO */
	z-index:3;
	top: 119px;
	border-right:none; /*Su dung border-left cua oe_view_manager*/
	height:70%;/*Su dung chieu cao de kich hoat scroll do da tat scroll o body*/
	overflow-y:auto;
}
		/*Khu vuc logo*/
		.openerp .oe_logo{
			position:fixed !important;
			width:18%; /*Chieu ngang se duoc xac dinh khi khoi tao bang jQuery*/
			min-width:243px; /*Tranh bi don chieu ngang o mot so menu TODO*/
			top:32px;
			z-index:2;
			background: #f0eeee;
		}
		
		/*Neu co dinh logo, se padding-top phan menu nay*/
		.openerp .oe_secondary_menus_container{
			/*top: 89px;*/
			/*padding-top:89px;*/
		}
		
		/*Khu vuc footer cuar leftbar, noi co chu OpenERP*/
		.openerp .oe_footer{
			width: 18% !important;
			min-width: 18% !important;
		}

/*Khu vuc location Application
*De position:relative de cac elements ben trong co the tu dong lay vi tri trong div
*overflow:scroll de tranh chieu ngang bi xe dich - TODO
*Do manager header cung se co dinh nen day ca view_manager xuong de lay vi tri
*/
.openerp .oe_application>div>div.oe_view_manager>div.oe_view_manager_body{
	position:relative;
	margin-top:122px;
	/*Su dung margin-top thay cho top de dam bao cac khoi element
	* deu nhau, easy ke khung - THAM KHAO BOX MODEL
	*/ 
	display:block;
	/* overflow-x:auto; */
	/* overflow-y:auto; */
}
/*Doi voi mot so form su dung nosheet
 * Phai xu ly them de tranh bi de len form header
 */
.openerp .oe_form_nosheet{
	padding-top:12px;
}

/*Khu vuc email messasing */
.openerp .oe_mail{
	margin-top:122px !important;
}

/*View Manager Header
* Khu vuc menu phia tren list va form
* Doi khi khong co o mot so views - TODO
* Su dung cach chon nay de chi gioi han o header ngoai cung
* khong anh huong den cac view_manager_header o cac form, list ben trong
*/
.openerp .oe_application>div>div.oe_view_manager>table.oe_view_manager_header{
	position:fixed; /*co dinh vi tri chieu cao cua element la 89px*/
	width: 82% !important;
	top:32px;
	z-index:2;
}

/*Khu vuc phia duoi View Manager Header
* Bao gom list, form, graph, calendar, kanban
* Su dung >div de chon direct children
*/
.openerp .oe_view_manager_body>div{
	/* padding-top: 89px; */
}

/*Phan header, status cua form neu co*/
.openerp .oe_form header{
	position:fixed; /*chieu cao cua element la 30*/
	top: 121px;
	width: 82% !important;
	z-index:1;
}

/*Doi voi form co header, status - thuong la form nhap lieu cua KINDEN
*Su dung + de chon cac div ma truoc no la header
*/
.openerp .oe_view_manager_view_form .oe_form header+div.oe_form_sheetbg{
 	padding-top: 46px; /*30+16*/
}

/*Doi voi form khong co header, status*/
.openerp .oe_view_manager_view_form .oe_form div.oe_form_sheetbg{
/* 	padding-top: 115px; */
}

.openerp .oe_view_manager_view_list{
/* 	padding-top: 89px; */
}

.openerp .oe_form footer{
	position:fixed;
	bottom: 0px;
	width: 82% !important;
}

.openerp .oe_form .oe_form_nosheet header{
	position:fixed;
	width: 82% !important;
	z-index:1;
}
.floatingHeader {
  position: fixed;
  top: 121px;
  visibility: visible;
  background: none repeat scroll 0% 0% rgb(240, 238, 238);
  border-bottom: 2px solid #cacaca;
  z-index:1;
}

/*SEARCH VIEW*/
.openerp .oe_searchview{
  min-width: 400px;
  max-width: 1200px;
  white-space: nowrap;
  width: auto !important;
  z-index: 3;
}

/*DEBUG VIEW*/
/*Dam bao Debug view va process view khong tran xuong duoi*/
.openerp .oe_debug_view, .oe_process{
  position:absolute;
}

