/*Trang tri khu vuc thanh tieu de*/
/*.openerp .oe_application .oe_breadcrumb_item:last-child:after{
.greeting {
        color:#FF3366;
        font-style:italic;
        font-size:1.2em;
        content:"   ___Merry Xmas & Happy New Year!___";
}*/

/* .openerp .oe_leftbar{
  background-image:url('/kderp_web/static/src/img/oe_leftbar.png');
  background-size:100%;
}

.openerp .oe_view_manager_current > .oe_view_manager_header{
  background-image:url('/kderp_web/static/src/img/oe_banner.jpg') !important;
  background-size:100% !important; 
}

.openerp .oe_logo
	{
		background: transparent !important;
	} */
	
/* #flake {
	color: '#FF0000';
	position: absolute;
	font-size: 25px;
	font-weight: bolder;
	top: -50px;	
}
 *//*Trang tri khu vuc thanh tieu de*/