/*Base function*/
/*Webkit scroll bar TODO*/

.openerp .oe_form_editable .oe_form .oe_form_sheet_width{
	/*Bo business sheet view khi form dang o che do edit*/
	max-width:96%;
}

.openerp .oe_form_readonly .oe_form .oe_form_sheet_width{
	/*Bo business sheet view khi form dang o che do edit*/
	max-width:86%;
}

.openerp .oe_list_content > tbody > tr > td.oe_list_field_cell{
	/*Ke duong vien trai o list view*/
	border-left: 1px solid #dfdfdf;
}

.openerp .oe_list_content > thead > tr > th:not(:first-child){
	/*Can chu o header cua list view */
	vertical-align: top;
}

/*Tao thuoc tinh gach chan cho separator*/
.openerp .oe_horizontal_separator {
  border-bottom-style:solid;
  border-width:2px;
}

/*Lam rong chieu ngang cua oe_subtotal_footer*/
.openerp .oe_form .oe_subtotal_footer {
  width:30% !important;
}

/*Keo dai het co gach chan cua oe_subtotal_footer_separator*/
/*Giam font chu o subtotal xuong con 13px */
.openerp .oe_form .oe_subtotal_footer .oe_subtotal_footer_separator {
  width:50%;
  font-size: 14px;
}

/*Hien thi Breadcrumb o 1 dong de dam bao dong bo voi float menu*/
.openerp .oe_view_manager table.oe_view_manager_header h2{
  overflow:hiden;
  white-space:nowrap;
}

/*Thu nho font chu cua breadcrumb xuong 16px*/
.openerp .oe_application .oe_breadcrumb_item{
  font-size:16px;
}

/*Thu nho font cua phan breadcrumb phu*/
.openerp .oe_application .oe_breadcrumb_item:not(:last-child){
  font-size:14px;
}

/*Can le secondary left menu xuong con 10px de the hien chu cho ro rang*/
.openerp .oe_secondary_submenu .oe_secondary_submenu li {
  margin-left:10px;
}

/*Tang width cho dropdown action menu*/
.openerp .oe_view_manager table.oe_view_manager_header .oe_dropdown_menu{
  min-width:200%;
  width:inherit;
}
.openerp .oe_dropdown_menu > li > a{
  width:100%; /*noi rong toi da phan mo ta*/
}
/*Xu ly phan noi rong 100% truong nhap lieu so va date*/
.openerp .oe_form_editable .oe_form .oe_form_field_date input{
  min-width:100%;
}

.openerp .oe_form_editable .oe_form .oe_form_field_float input {
  width:100%;
  min-width:100%;
}

/*Lam dam mo ta o phan Search*/
.ui-corner-all em{
  font-weight:bold;
}

/*Huong dan su dung theo kieu Google*/
.koe_dialog_help{
  background: #222 none repeat scroll 0;
  opacity:0.80;
  width:70% !important;
  height:70% !important;
}

#koe_dialog_help{
  color:#fff;
  border:none;
  width:100% !important;
  /*background-color:rgba(255,0,0,0.5);*/
}

#koe_dialog_help_title{
  border:none;
}

#koe_dialog_help_title span, a{
  color:#fff;
}

#koe_dialog_help_title .ui-icon{
  background-image: url("/web/static/lib/jquery.ui.bootstrap/css/custom-theme/images/ui-icons_454545_256x240.png");
  opacity:1;
  }

#koe_dialog_help_title .ui-dialog-titlebar-close{
  opacity:1;
  border:solid 1px rgb(144,144,144);
}
/*Huong dan su dung theo kieu Google*/

/*CSS cho anh staff/manager*/
.koe_many2one_image{
  float:left;
  height:auto;
  width: 24px;
  border:none;
  margin:-2px 2px 1px 0;
}
/*koe_footer*/
.openerp .koe_footer{
  color: green !important;
  font-weight: bold;
}

/*Class thong bao du lieu da duoc save*/
.openerp .kderp_oe_notification:after {
  content:'Data saved';
  z-index: 101;
  position: fixed;
  top: 0px;
  right: 50%;
  padding: 4px 12px;
  /*background: #018301;*/
  color: white;
  text-align: center;
  /*border: 1px solid #018301;*/
  border-top: none;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/*Ke chan de phan biet cac menu trong phan Actions*/
div.oe_sidebar > div:nth-last-child(1) > ul:nth-last-child(1) > li:nth-last-child(3){
  border-top:dotted 1px;
}

/*Lam dam chu cac menu trong phan Actions*/
div.oe_sidebar > div:nth-last-child(1) > ul:nth-last-child(1) > li:nth-last-child(3),
div.oe_sidebar > div:nth-last-child(1) > ul:nth-last-child(1) > li:nth-last-child(2),
div.oe_sidebar > div:nth-last-child(1) > ul:nth-last-child(1) > li:nth-last-child(1){
  font-weight: bold;
}

.openerp .oe_view_manager table.oe_view_manager_header:first col:nth-child(2){
  /* width:30%; */
}
/*dinh nghia z-index cho rev number*/
.openerp .ui-spinner-button{
  z-index:0;
}

/*bo align right trong many2manytag
 * TODO: HCMC va Hanoi la khac nhau - lay ket qua tu t-att-stye="widget.node.att.style"
 */

/*tao scroll cho search drawer (khi co nhieu saved searchs, can phai cuon)*/
.openerp .oe_searchview .oe_searchview_drawer{
 height: 600px;
 overflow-x:hidden;
 overflow-y:auto;
}

.openerp .oe_searchview .oe_searchview_drawer .oe_searchview_custom {
 
}

/*
 * Lam gon khoang cach phia duoi cua tree view o trong form
 */
.openerp .oe_form_field_one2many > .oe_view_manager .oe_view_manager_view_list {
	min-height: inherit;
}

/*
 * Lam cho o thong bao loi resize theo content o ben trong
*/
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons.openerp {
  width: auto !important;
  max-width: 50% !important;
}

table.oe_dialog_warning.ui-dialog-content.ui-widget-content
{
  width: 100% !important;
}